/*
    Created on : Apr 20, 2017, 2:00:32 PM
    Author     : Artem Gurzhiy
*/

/* Sticky footer */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page-wrap {
  flex: 1;
}

