{% block footer %}
    <footer class="footer">
        <p>
            &copy;
            2017
            <a href="https://www.linkedin.com/in/artem-gurzhiy" title="Artem Gurzhiy - LinkedIn Profile">Artem Gurzhiy</a>
        </p>
    </footer>
{% endblock %}