{% block header %}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li {% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}>
                    <a href="{{ path('homepage') }}">Home</a>
                </li>
                {% if app.user %}
                    <li {% if app.request.get('_route') == 'profile_index' %} class="active"{% endif %}>
                        <a href="{{ path('profile_index') }}">Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li >
                        <a href="{{ path('user_registration') }}">Register</a>
                    </li>
                    <li >
                        <a href="{{ path('login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted">Artem Gurzhiy - Test Task</h3>
    </div>
{% endblock %}