<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>Artem Gurzhiy (test task)</title>

        <!-- Bootstrap Jumbotron -->
        <script src="{{ asset('js/lib/jquery-2.2.4.min.js') }}"></script>
        <link href="{{ asset('css/lib/bootstrap.min.css') }}" rel="stylesheet" />
        <script src="{{ asset('js/lib/bootstrap.min.js') }}" ></script>
        <link href="{{ asset('css/lib/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">
        <link href="{{ asset('css/lib/jumbotron-narrow.css') }}" rel="stylesheet">
        <!--[if lt IE 9]><script src="{{ asset('js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
        <script src="{{ asset('js/lib/ie-emulation-modes-warning.js') }}"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="page-wrap">
            <div class="container">
                {{ include('_header.twig') }}

                {% block main %}{% endblock %}
            </div>
        </div>

        {{ include('_footer.twig') }}

        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('js/lib/assets/js/ie10-viewport-bug-workaround.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

