{% extends 'base.twig' %}

{% block main %}
    <div class="jumbotron">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <label for="username">Email:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
            
            <input type="hidden" name="_target_path" value="profile_index" />

            <button type="submit">login</button>
        </form>
    </div>
{% endblock %}