{% extends 'base.twig' %}

{% block main %}
    <div class="jumbotron">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button class="btn btn-primary" type="submit">Register!</button>
        {{ form_end(form) }}
        or <a class="linked" href="{{ path('login') }}">Login</button>
    </div>
{% endblock %}